<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %} Team 7 community! - Admin {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}">
    </head>
    <body>
        {% block body %}
        {% endblock %}

        <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/main.js') }}"></script>
    </body>
</html>